.bg {
	background-image: url(//static.kaiyanapp.com/eyepetizer-web/assets/images/index/sprite-s93ca05f687.023a526d.png);
	background-repeat: no-repeat;
	background-size: 642px;
}
.div {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.logo {
	composes: bg;
	composes: div;
	background-position: 0 81.02435%;
	height: 225px;
	top: 30%;
	width: 180px;
}

.intro {
	composes: bg;
	composes: div;
	background-position: 0 55.5773%;
	height: 54px;
	top: 54%;
	width: 351px;
}

.content_dbl {
	composes: div;
	top: 67%;
}

.entry {
	composes: div;
	height: 52px;
	margin-top: 120px;
	top: 67%;
}
.audit {
	composes: bg;
	height: 53px;
	margin: 0 14px;
	opacity: .4;
	transition: opacity .3s;
	width: 220px;
	cursor: pointer;
}
.audit:hover {
	opacity: 1;
}
.p {
	margin: 0;
	position: absolute;
	font-size: 14px;
	text-align: center;
	pointer-events: none;
	color: #fff;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 52px;
	letter-spacing: 4px;
}

@media screen and (max-width: 1024px) {
	.logo {
		background-position: 0 81.02435%;
		background-size: 428px;
		height: 150px;
		top: 28%;
		width: 120px;
	}
	.intro {
		background-position: 0 55.5773%;
		background-size: 528.59829px;
		height: 44px;
		top: 54%;
		width: 289px;
	}
	.content_dbl {
		top: 77%;
	}
	.entry {
		display: none;
	}
}
