.root {
	composes: flex-cont from 'Components/common/flex.css';
	height: 52px;
}

.bg {
	background-image: url(http://static.kaiyanapp.com/eyepetizer-web/assets/images/index/sprite-s93ca05f687.023a526d.png);
	background-repeat: no-repeat;
	background-size: 642px;
}

.button {
	composes: bg;
	composes: flex-item from 'Components/common/flex.css';
	height: 52px;
	margin: 0 14px;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 162px;
}
.button:hover {
	opacity: 1;
}
.ios {
	composes: button;
	background-position: 0 21.40534%;
}
.android {
	composes: button;
	background-position: 0 7.22186%;
}

.root_black {
	flex-direction: column;
}

.root_black .ios {
	background-position: 0 28.49707%;
}

.root_black .android {
	background-position: 0 14.3136%;
}

@media screen and (max-width: 1024px) {
	.root {
		flex-direction: column;
		justify-content: space-between;
		height: 124px;
		width: 162px;
	}
	.button {
		margin: 0;
		flex: 0 1 auto;
	}
}
