.dlb {
	composes: content_dbl from './content.css';
	composes: flex-cont from '../common/index.css';
	height: 52px;
}

.bg {
	background-image: url(//static.kaiyanapp.com/eyepetizer-web/assets/images/index/sprite-s93ca05f687.023a526d.png);
	background-repeat: no-repeat;
	background-size: 642px;
}

.button {
	composes: bg;
	composes: flex-item from 'Components/common/index.css';
	height: 52px;
	margin: 0 14px;
	opacity: .7;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	width: 162px;
}
.button:hover {
	opacity: 1;
}
.ios {
	composes: button;
	background-position: 0 21.40534%;
}
.android {
	composes: button;
	background-position: 0 7.22186%;
}
