.root {
	/* composes: screen__menu from './screen.css'; */
	composes: flex-cont from 'Components/common/flex.css';
}

.item {
	composes: flex-item from 'Components/common/flex.css';
	width: 36px;
	height: 36px;
	display: block;
	margin: 0 8px;
	opacity: .7;
	transition: opacity .6s;
	background-image: url(http://static.kaiyanapp.com/eyepetizer-web/assets/images/sprite_share.bc0f4494.png);
	background-repeat: no-repeat;
}
.item:hover {
	opacity: 1;
}
.item_wechat {
	composes: item;
	background-size: 36px;
	background-position: 0 -26px;
}

.item_weibo {
	composes: item;
	background-size: 36px;
	background-position: 0 -63px;
}

.item_email {
	composes: item;
	background-size: 54px;
	background-position: 0 0;
}
