.root {
	background: #fff;
	height: 100%;
	opacity: 1;
	position: fixed;
	transition: opacity 0.3s;
	width: 100%;
	z-index: 10000;
}

.leave {
    opacity: 0;
    display: none
}

.div {
	background-size: cover;
	height: 48px;
	left: 50%;
	margin: -24px 0 0 -35px;
	position: absolute;
	top: 50%;
	width: 70px;
}

.out {
	composes: div;
	background-image: url(http://static.kaiyanapp.com/eyepetizer-web/assets/images/detail/loading_out@3x.444b89a3.png);
}

.in {
	composes: div;
	animation: e 0.5s linear infinite;
	background-image: url(http://static.kaiyanapp.com/eyepetizer-web/assets/images/detail/loading_in@3x.94a9c4b4.png);
}

@keyframes e {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
