.root {
	background: #000;
	height: 258px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.video {
	display: block;
	width: 100%;
}

.div {
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.cover {
	composes: div;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.play_button {
	composes: div;
	background-color: rgba(0, 0, 0, 0.15);
	background-image: url(http://static.kaiyanapp.com/eyepetizer-web/assets/images/detail/icon_play@2x.3b9f9ba5.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	cursor: pointer;
	transition: background-color 0.5s;
}

.play_button:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
