.video_list {
	text-align: center;
}

.date {
	background: #fff;
	font-family: Lobster, cursive;
	font-size: 16px;
	line-height: 90px;
}

.video {
	display: block;
	background-position: 50%;
	background-size: cover;
	color: #fff;
	cursor: pointer;
	height: 450px;
	position: relative;
}

.cover {
	background: rgba(0, 0, 0, .4);
	height: 100%;
	position: absolute;
	transition: background .6s;
	width: 100%;
}

.cover:hover {
	background: transparent;
}

.title {
	font-size: 16px;
	font-weight: 700;
	transform: translateY(-24px);
	position: absolute;
	top: 50%;
	width: 100%;
}

.meta {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(12px);
}

@media screen and (max-width: 1024px) {
	.video {
		height: 225px;
	}
}
